@use 'resets';
@use 'variables' as v;

body {
  background: #fafafe;
  overflow-x: hidden;

  main {
    display: grid;
    grid-template: 1fr / 77px 1fr auto;
    grid-template-areas: 'nav main aside';
    align-items: start;
    max-width: 1600px;
    min-height: 100vh;
    margin-inline: auto;
    position: relative;
  }
}
