@use '../variables' as v;

.form-template {
  grid-column: 1 / -1;
  font-family: 'Quicksand', 'Nunito', Verdana, Geneva, Tahoma, sans-serif;
  width: max-content;
  margin: auto;
  border: 2px solid #bdbdbd;
  border-radius: 12px;
  padding: v.$spacer;
  width: min(90%, 320px);

  & > * {
    margin-block: v.$spacer;
  }
  label {
    display: block;
    font-weight: 600;
    font-size: 1.1rem;

    input {
      display: block;
      border: none;
      outline: none;
      margin-top: v.$spacer * 0.5;
      padding: 0.75em 1.3em;
      border-radius: 8px;
      width: 100%;
      box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.05);
    }
  }
  a {
    text-decoration: none;
    display: block;
    text-align: center;
    color: #34333a;
  }
  button {
    display: block;
    margin-left: auto;
  }
}
