@use '../variables' as v;

.history {
  font-family: 'Quicksand', 'Nunito', Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;

  .container {
    position: sticky;
    top: v.$spacer;
  }
  h2 {
    font-family: 1.45rem;
    margin-bottom: v.$spacer * 1.25;
  }
  h3 {
    margin-bottom: v.$spacer;
  }
  grid-area: main;
  padding: v.$spacer;

  .container > div {
    margin-bottom: v.$spacer * 2.5;
  }
}
