@use '../variables' as v;

.history {
  font-family: 'Quicksand', 'Nunito', Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;

  @media (min-width: 917px) {
    display: block !important;
  }

  .container {
    position: sticky;
    top: v.$spacer;
  }
  h2 {
    font-family: 1.45rem;
    margin-bottom: v.$spacer * 1.25;

    &:only-child + .video-container {
      display: block;
    }
  }
  .video-container {
    display: none;
    p {
      font-size: 1.1rem;
      font-weight: 600;
      margin-bottom: v.$spacer;
    }
    video {
      width: 100%;
      display: block;
    }
  }
  h3 {
    margin-bottom: v.$spacer;
  }
  grid-area: main;
  padding: v.$spacer;

  .container > div {
    margin-bottom: v.$spacer * 2.5;
  }
}
