@use '../variables' as v;

.shopping_list {
  margin-left: auto;
  padding: v.$spacer;
  padding-bottom: 0;
  background: #fff0de;
  font-family: 'Quicksand', 'Nunito', Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
  grid-area: aside;
  position: relative;

  @media (min-width: 750px) {
    display: block !important;
    max-width: 390px;
  }
  & > .container {
    position: sticky;
    min-height: 100vh;
    padding-bottom: v.$spacer * 8;
    top: v.$spacer;
  }

  @media (min-width: 385px) {
    min-width: 360px;
  }

  .hero {
    background-color: #80485b;
    border-radius: 24px;
    font-weight: 700;
    width: 100%;
    padding: v.$spacer;
    max-width: 310px;
    margin-inline: auto;
    @media (min-width: 385px) {
      @include v.flexbox($gap: v.$spacer * 2);
      padding: 0 v.$spacer;
    }

    img {
      margin-inline: auto;
      @media (min-width: 385px) {
        transform: translateY(-1.5em);
      }
    }
    p {
      color: #fff;
      font-size: 1.05rem;
      margin-top: v.$spacer;
    }
  }
  .no-items {
    position: absolute;
    inset: 50% 50% auto auto;
    transform: translate(50%, -50%);
    font-weight: 600;
    font-size: 1.1rem;
  }
  .heading {
    @include v.flexbox($justify: space-between);
    margin-top: v.$spacer;

    p {
      font-weight: 700;
      font-size: 1.2rem;
    }

    img {
      width: 15px;
    }
  }
  .items-container {
    margin-bottom: v.$spacer * 1.5;
    h3 {
      color: #828282;
      font-size: 1rem;
      margin-bottom: v.$spacer;

      &:only-child {
        display: none;
      }
    }
    margin-block: v.$spacer;
  }
  .input {
    position: absolute;
    inset: auto 0 0 0;
    background: #fff;
    padding: v.$spacer * 1.5 v.$spacer;
    width: calc(100% + 2em);
    transform: translateX(-1em);

    &.empty {
      input {
        border-color: #c1c1c4;
      }
      button {
        background-color: #c1c1c4;
        // color: #000;
      }
    }

    img {
      width: 50%;
      position: absolute;
      inset: 0 50% auto auto;
      transform: translate(50%, -100%);
    }
    input {
      border-color: #f9a109;
      margin: 0;
    }
    button {
      position: absolute;
      inset: 50% calc(v.$spacer + 2px) auto auto;
      transform: translateY(-50%);
      background-color: #f9a109;
      color: #fff;
      margin: 0;
    }
  }
  .btn-container {
    @include v.flexbox($gap: 2em);

    button {
      position: unset;
      transform: unset;
      margin: 0;

      &:first-child {
        background-color: transparent;
        color: #000;
        box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.05);
      }
      &:last-child {
        background-color: #56ccf2;
        color: #fff;
      }
    }
  }
}
